// Fonts
$mainFontFamily: Roboto, sans-serif;

// Color scheme
$backgroundColor: #1d2d44;
$mainColor: #3e5c76;
$secondaryColor: #f0ebd8;
$textColor: #f0ebd8;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;